<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="main.css")
        title Hangar 28 - Car Detailing
    body
        .car
        main#fullpage
            .section.process.receipt
                .processBackground
                .processScene
                .processContent
                    h3.processTitle Recibo
                    p.processDescription
            
            .section.process.washed
                .processBackground
                .processScene
                .processContent.slide
                    h3.processTitle Lavado
                    p.processDescription
                .processContent.slide
                    h3.processTitle Lavado
                    p.processDescription


            .section.process.shampoo
                .processBackground
                .processScene
                .processContent
                    h3.processTitle Shampoo
                    p.processDescription

            .section.process.decontamination
                .processBackground
                .processScene
                .processContent
                    h3.processTitle Descontaminación y pulida
                    p.processDescription

            .section.process.brightness
                .processBackground
                .processScene
                .processContent
                    h3.processTitle Micro-rayones, brillo y encerado
                    p.processDescription

            .section.process.protection
                .processBackground
                .processScene
                .processContent
                    h3.processTitle Protección de pintura
                    p.processDescription

            .section.process.inside
                .processBackground
                .processScene
                .processContent
                    h3.processTitle Limpieza interior
                    p.processDescription

            .section.process.motor
                .processBackground
                .processScene
                .processContent
                    h3.processTitle Embellecimiento de motor
                    p.processDescription

        

        script(type="text/javascript", src="main.js")
        






