*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.car{
    background: red;
    height: 200px;
    width: 120px;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: - 75px;
    z-index: 99;
}

.process{
    background: #6892AA;
    border: 3px solid white;
    height: 100vh;
}