*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
}

main{
    max-width: 1366px;
    margin: auto;
}

.hidden{
    opacity: 0;
    display: none;
}
.smooth{
    transition: all 1s ease;
    &_fast{
        transition: all .5s ease;
    }
    &_slow{
        transition: all 1.5s ease;
    }
    &_medium{
        transition: all 4.5s ease;
    }
    &_verySlow{
        transition: all 15s ease;
    }
}

.btn{
   color:darken(#FF3D0A, 75%);
   background-color: darken(rgba(255,255,255,0.4), 50%);
   padding: 1em;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 100;
   border:  4px solid darken(#FF3D0A, 45%);
   display:block;
   margin: 2em auto;
   max-width: 300px;
   text-align: center;
   border-radius: 5px;
   box-shadow: 0 3px 6px 2px rgba(0,0,0,0.3);
   transform: rotateX(0deg);
   transition: all .3s ease;
   &:hover{
       background-color: #FF3D0A ;
       box-shadow: 0 2px 5px 1px rgba(0,0,0,0.5);
       border:  4px solid #FF3D0A;
       color: white;
   }
}

.car{
    background-size: contain;
    height: 350px;
    width: 156px;
    position: fixed;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -78px;
    z-index: 99;
    text-align: center;
    opacity: 1;
    @extend .smooth_slow;
    img{
        filter: drop-shadow(0 5px 10px rgba(0,0,0,0.6));
        height: 100%;
        position: absolute;
        left: 0;
    }
    .cleanCar{
        opacity: 0;
        @extend .smooth_slow;
    }
    .carNormal{
        opacity: 1;
        @extend .smooth_slow;
    }
    &.clean{
        .carNormal{
            opacity: 0;
        }
        .cleanCar{
            opacity: 1
        }
    }
    &.hide{
        top: -300px;
    }
    &.zoom{
        transform: scale(2);
        top: 10%;
    }
    .dirt{
        opacity: 0;
        left: 5%;
        top: 5%;
        bottom: 5%;
        height: 90%;
        width: 87%;
        @extend .smooth_slow;
    }
    .dirt_1{
        opacity: 0;
        left: 5%;
        top: 5%;
        bottom: 5%;
        height: 90%;
        width: 87%;
        transform: rotate(180deg);
        @extend .smooth_slow;
    }

    &.dirty{
        .dirt{
            opacity: 1;
        }
    }
    &.dirty_1{
        .dirt_1{
            opacity: 1;
        }
    }
    .shine{
        opacity: 0;
        @extend .smooth_slow;
        &_1{
            left: 60%;
            top: 85%;
            height: 55px;
        }
        &_2{
            left: 14%;
            top: 47%;
            height: 30px;
        }
        &_3{
            left: 20%;
            top: 5%;
            height: 30px;
        }
    }
    &.shining{
        .shine{
            opacity: 1
        }
    }
}

.mainLogo{
    position: fixed;
    top: 0;
    z-index: 99;
    left:50%;
    margin-left: -100px;
    width: 200px;
    height: 130px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    border-radius: 0 0 50% 50%;
    overflow: hidden;
    @extend .smooth;
    &.small{
        width: 150px;
        height: 100px;
        margin-left: -75px;
        img{
            margin-top: -30px;
        }
    }
    img{
        width: 100%;
        margin-top: -40px;
        @extend .smooth;
    }
}

.videoIntro{
    margin: auto;
    display: block;
    &Cont{
        margin-top: 160px;
        display: inline-block;
        box-shadow: 0 4px 12px 1px black;
    }
}

.section{
    &_0{
        background-image: url(./assets/bg-1.jpg);
        text-align: center;
    }
    &_1{
        background-image: url(./assets/bg-2.jpg);
    }
    &_2{
        background-image: url(./assets/bg-3.jpg);
    }
    &_3{
        background-image: url(./assets/bg-4.jpg);
    }
    &_4{
        background-image: url(./assets/bg-5.jpg);
    }
    &_5{
        background-image: url(./assets/bg-6.jpg);
    }
    &_6{
        background-image: url(./assets/bg-7.jpg);
    }
    &_7{
        background-image: url(./assets/bg-8.jpg);
    }
    &_8{
        background-image: url(./assets/bg-2.jpg);
        background-size: 150%;
        @extend .smooth;
        &.active{
            background-size: 200%;
        }
    }
    &_9{
        background-image: url(./assets/bg-1.jpg);
        text-align: center;
    }
    
}

.process{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    @extend .smooth;
    &Content{
        width: 25%;
        height: auto;
        padding: 5em 3em 3em;
        background-color: rgba(255,255,255,0.1);
        margin-left: -500px;
        @extend .smooth;
    }
    &Title{
        font-weight: 900;
    }
    &Icon{
        display: block;
        margin-bottom: 1em;
        img{
            width: 60px;
        }
    }
    &Description{
        font-weight: 100;
    }
    &Elements{
        opacity: 0
    }
    &Scene{
        
        .imgAsset{
            position: absolute;
            @extend .smooth;
            img{
                height: 100%;
            }
            &.man{
                height: 90px;
                right: 8%;
                filter: drop-shadow(-10px 0 5px rgba(0,0,0,0.4));
                @extend .smooth_slow;
            }
            &.machine,
            &.table{
                right: 15%;
                filter: drop-shadow(-10px 0 5px rgba(0,0,0,0.4));
            }
            &.element{
                filter: drop-shadow(-1px 5px 5px rgba(0,0,0,0.4));
            }
        }
    }
    &.active{
        opacity: 1;
        .processContent{
            margin-left:0;
        }
        .processElements{
            opacity: 1;
        }

    }
}



.receipt{
    .manReceipt{
        right: 8%;
        top: 30%;
    }
    .tableReceipt{
        right: 15%;
        top: 60%;
        height: 150px;
    }
    .coneReceiptRight{
        top: 90%;
        right: 30%;
        height: 50px;
    }
    .coneReceiptLeft{
        top: 90%;
        left: 30%;
        height: 50px;
    }
    &.active{
        .manReceipt{
            right: 15%;
        }
    }
}

.washed{
    .machineWash{
        right: 15%;
        top: 15%;
        height: 300px;
        transform: rotate(180deg);
        .waterLoop{
            height: 61px;
            width: 280px;
            background-image: url(./assets/water.png);
            background-size: 100% 305px;
            background-position: 0 0;
            animation-name: water;
            animation-duration: .6s;
            animation-timing-function: steps(4);
            animation-iteration-count: infinite;
            display: block;
            position: absolute;
            bottom: 0;
            top: -16px;
            right: -100%;
        }
    }
}

.shampoo{
    .machineShampoo{
        right: 15%;
        top: 15%;
        height: 220px;
        .shampooLoop{
            height: 122px;
            width: 320px;
            background-image: url(./assets/shampoo.png);
            background-size: 100% 610px;
            background-position: 0 0;
            animation-name: shampoo;
            animation-duration: .3s;
            animation-timing-function: steps(2);
            animation-iteration-count: infinite;
            display: block;
            position: absolute;
            top: 22px;
            left: -130%;
            transform-origin: right;
            transform: rotate(-45deg);
        }
    }
    .manShampoo{
        right: 8%;
        top: 60%;
    }
    &.active{
        .manShampoo{
            right: 15%;
        }
    }
}

.decontamination{
    .machinePaint{
        right: 15%;
        top: 15%;
        height: 220px;
    }
    .manPaint{
        right: 8%;
        top: 60%;
        height: 105px !important;
        transform: rotate(230deg);
    }
    &.active{
        .manPaint{
            right: 35%;
        }
    }
}

.brightness{
    .manShine{
        right: 8%;
        top: 60%;
        transform: rotate(180deg);
    }
    &.active{
        .manShine{
            right: 35%;
        }
    }
}

.protection{
    .paint{
        right: 15%;
        top: 30%;
    }
    .manProtection{
        right: 8%;
        top: 60%;
        transform: rotate(180deg);
    }
    &.active{
        .manProtection{
            right: 35%;
        }
    }
}

.inside{
    .steerWheel{
        right: 15%;
        top: 20%;
    }
    .steerPanel{
        right: 15%;
        top: 40%;
    }
    .manInterior{
        right: 8%;
        top: 60%;
    }
    &.active{
        .manInterior{
            right: 35%;
        }
    }
}

.motor{
    .motorTable{
        right: 15%;
        top: 20px;
        height: 400px;
    }
 
    .manMotor{
        top: 100%;
        transform: rotate(-90deg);
        right: 45%;
    }
    &.active{
        .manMotor{
            right: 45%;
            height: 260px;
            top: 60%;
        }
    }
}

@keyframes water {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 488px;
    }
    100%{
        background-position: 0 0;

    }
}

@keyframes shampoo {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 244px;
    }
    100%{
        background-position: 0 0;

    }
}

@media screen and (max-width: 728px) {
    .car {
        background-color: red;
    }
}

.overlay{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: black;
    opacity: 0.8;
    z-index: 998;
    display: none;
    &.visible{
        display: block;
    }
}
.contactSection {
    position: absolute;
    background: white;
    top: 100%;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.9;
    box-shadow: 0 0 8px 1px black;
    z-index: 999;
    @extend .smooth_fast;
    &.visible{
        top: 50%;
    }
}